body{
    margin: 0;
    padding: 0;
    height: 200vh;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:black ;
    height: 7vh;
    position: sticky;
    top: 0;
}

.menu{
    color: white;
}

#primeiraParte{
    background-image: url(imagensNaruto/principalHome.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
#segundaParte{
    background-color: #D9D9D9;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#textoSegundaParte{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    height: 100vh;
    width: 180vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 4vh;
}
#imagensSegundaParte{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100vh;
    width: 180vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

#primeiraImagem{
    width: 69%;
    height: 100%;
    background-image: url(imagensNaruto/home1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#segundaImagem{
    width:29%;
    height: 100%;
    background-image: url(imagensNaruto/home2.jpg);
    background-size: cover;
    
}

.sessaoPersonagem{
    background-color: #272525;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.esquerdaPersonagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 90vh;
    margin: 5vh 5vh 5vh 5vh;
}

.textoPersonagem{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 5vh;
    color: white
}
.iconesPersonagem{
    width: 100%;
    height: 50%;
    /* background-color:blue; */
}

.direitaPersonagem{
    width: 50%;
    height: 90vh;
    margin: 5vh 5vh 5vh 5vh;
    display: flex;
    flex-direction: row-reverse;
}
.fotosDireita{
    display: flex;
    align-items: center;
    width: 65%;
    height: 90vh;
    background-image: url(imagensNaruto/narutoPagina.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.nomeDireita{
    width: 35%;
    height: 90vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nomePortugues{
    display: flex;
    align-self: flex-end;
    height: 50%;
    width: 50%;
    font-size: 5vh;
    margin-right: 4%; 
    color: white;
    text-align: right;
}

.nomeJapones{
    display: flex;
    align-self: flex-end;
    writing-mode: vertical-rl;      
    text-orientation: mixed;           /* muda o jeito de escrever  */
    letter-spacing: 10px;           /* espaço entre as letras  */
    height: 50%;
    width: 50%;
    font-size: 4.5vh;
    margin-right: 2%;
    color: white;
}

.sessaoPersonagemInverso{
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}














footer{
    background-color: black;
    height: 15vh;
}