body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
  border: 2px solid black;
  width: 60%;
  height: 10%;
}

button{
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  width: 60%;
  height: 20%;
  transition: 0.8s;
}
button:hover{
  background-color: orange;
  color: black;
  width: 65%;
  height: 25%;
}
.LoginBaixo a{
  text-decoration: none;
  color: orange;
}

.tela {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/fundopretobranco.webp);
    background-size: contain;
  }
  
  .containerLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 65%;
    height: 90%;
    border: 2px solid black;
  }

  .containerLoginDireito{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-image: url(../assets/FundoLogin3.gif);
    background-size: cover;
    border: 2px solid black;
  }
  .containerLoginEsquerdo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-image: url(../assets/KakashiFundo.jpg);
  }

  .LoginCima{
    font-size: xx-large;
  }
  .Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 80%;
  }
  .LoginCima{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
  }
  .LoginMeio{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
  }
  .LoginBaixo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 25%;
  }
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border: 2px solid black;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }