*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 0.8s;
    width: 100%;
    height: 100%;
}

.divVoltar button:hover{
    background-color: black;
    color: white;
    width: 90%;
    height: 90%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/fundopretobranco.webp"); 
    background-size: contain;
    height: 100vh;
}
.divVoltar{
    width: 5%;
    height: 5%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121214;
    color: white;
    width: 90%;
    max-width: 800px;
    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
}

.questoes-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.questoes{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.resposta-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.proximaQuestao{
    margin-top: 32px;
}

.button{
    color: black;
    background-color:white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid black;
    height: 50px;
    padding: 0 32px;
    transition: 0.8s;
}

.button:hover{
    background-color: #FFC74F;
}

.esconder{
    display: none;
}